:root {
  --white: #fff;
  --black: black;
  --logo-color: #39312db3;
  --perpal: #d2dad5;
  --crimson: #5d031d;
  --sky: #82663a;
  --p-color: gray;
  --bg-color: #d2bf9e;
  --primary-font: "Ubuntu", sans-serif;
  --secondary-font: "Abril Fatface", serif;
  --font-size-large: 53px;
  --font-size-sub: 38px;
  --font-size-medium: 22px;
  --font-size-small: 18px;
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 30px;
  --time: 0.5s;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  font-family: var(--primary-font);
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}
p {
  color: var(--p-color);
  font-size: var(--font-size-medium);
}
h3 {
  font-size: var(--font-size-sub);
}
/* Header section Start */
.header-logo span {
  color: var(--logo-color);
  font-size: 53px;
  -webkit-text-stroke: 1px var(--black);
  font-family: var(--secondary-font);
  font-weight: 800;
}

.header-logo p {
  color: var(--white);
  font-size: var(--font-size-medium);
  font-family: var(--secondary-font);
  font-weight: 100;
  letter-spacing: 2px;
}

.header-logo a {
  color: var(--white);
  font-size: 38px;
  font-weight: 800;
  -webkit-text-stroke: 1px var(--black);
  text-decoration: none;
}

.header-text-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
}

ul.item-list li a {
  color: var(--white);
  font-size: var(--font-size-small);
  font-family: var(--primary-font);
  text-decoration: none;
  display: flex;
  max-width: 100%;
  width: max-content;
  transition: var(--time);
}

ul.item-list li a:hover {
  color: var(--crimson);
  transition: var(--time);
}

.menu-button-wrapper {
  position: relative;
  display: inline-block;
  padding: 0 15px;
}

.item-list div {
  padding: var(--padding-small) var(--padding-large);
  cursor: pointer;
}

.menu-button {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

ul.item-list {
  display: flex;
  gap: 60px;
  padding: 0;
}
ul.item-list li {
  list-style: none;
}
.my-image img {
  width: 350px;
  height: 350px;
  backdrop-filter: blur(50px);
  border-radius: 50%;
  border: 1px solid var(--white);
  box-shadow: inset -6px -2px 12px 0px var(--p-color);
}

.my-image img:hover {
  cursor: pointer;
}

.icon-wrapper {
  background: var(--black);
  border-radius: var(--font-size-medium);
}
/* Banner section start */
section.header-section {
  background: linear-gradient(
    -45deg,
    var(--crimson),
    var(--sky),
    var(--perpal)
  );
  position: relative;
  height: 90vh;
}
.banner-air-background .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png");
  background-size: 1000px 100px;
}
.banner-air-background .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 10;
  opacity: 1;
  animation-delay: 0s;
}
.banner-air-background .air.air2 {
  animation: wave2 1var () linear infinite;
  z-index: 9;
  opacity: 0.5;
  animation-delay: -var();
}
.banner-air-background .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 8;
  opacity: 0.2;
  animation-delay: -2s;
}
.banner-air-background .air.air4 {
  animation: wave2 var() linear infinite;
  z-index: 7;
  opacity: 0.7;
  animation-delay: -var();
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 2000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -2000px;
  }
}
.banner-text p {
  color: #75f500;
  font-size: var(--padding-large);
  font-weight: 100;
  padding-bottom: var(--padding-large);
  letter-spacing: 5px;
}

.my-image {
  padding-top: var(--padding-medium);
}

.banner-text h2 {
  color: var(--black);
  font-size: 128px;
  letter-spacing: 3px;
  font-weight: 100;
  max-width: 1190px;
  font-family: var(--secondary-font);
}
.text-container {
  display: flex;
  flex-direction: column;
  padding-top: var(--padding-medium);
  text-align: center;
}
.text-container p {
  color: var(--white);
  font-size: 28px;
  font-weight: bold;
}
.text-container h2 {
  margin: 40px 0 0;
  font-size: 60px;
  color: var(--white);
  background-repeat: repeat;
  text-align: center;
  -webkit-text-stroke: 0.5px var(--black);
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Abril Fatface";
  letter-spacing: 5px;
  height: 200px;
}
.text-container span {
  -webkit-text-stroke: 0.2px var(--white);
  font-family: "Abril Fatface";
  position: relative;
}
.text-container span.typing:after {
  content: "";
  position: absolute;
  right: -5px;
  top: 5px;
  background: var(--white);
  height: 90%;
  width: 5px;
  animation: blink 0.7s steps(1) infinite;
  display: block;
}
@keyframes iconmove {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translate(0);
  }
}
.icon-banner {
  position: relative;
  z-index: 11;
}
.banner-icon {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.icon-banner a svg {
  width: 20px;
  height: 20px;
  fill: var(--black);
}
.banner-icon .main-icon:hover svg {
  fill: var(--white);
}
.banner-icon .main-icon:hover {
  border: 1px solid transparent;
}
.banner-icon .main-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--black);
  transition: all var(--time) ease;
}
.banner-icon .main-icon.linkd {
  animation: iconmove 7s infinite;
}
.banner-icon .main-icon.gitup {
  animation: iconmove 8s infinite;
}
.banner-icon .main-icon.twit {
  animation: iconmove 9s infinite;
}
.banner-icon .main-icon.wp {
  animation: iconmove 10s infinite;
}
.banner-icon .main-icon.mail {
  animation: iconmove 11s infinite;
}
.banner-icon .main-icon.wp:hover {
  background-color: #25d366;
}
.icon-banner .linkd:hover {
  background-color: #2867b2;
}
.banner-icon .main-icon.mail:hover {
  background-color: #1e1e1e;
}
.icon-banner .gitup:hover {
  background-color: #333;
}
.icon-banner .twit:hover {
  background-color: #1da1f2;
}
/* About Section Start  */
section.about-section {
  padding-block: 100px;
}
.about-head-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
h2.about-head {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: var(--padding-medium);
  font-family: Ubuntu, sans-serif;
}
.about-img-text {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  column-gap: var(--padding-large);
}
.about-img {
  max-width: 50%;
  width: 100%;
}
.about-text {
  max-width: 50%;
  height: auto;
  justify-content: start;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.about-text h2 {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: var(--padding-small);
}
.type-text {
  color: var(--crimson);
  position: relative;
}
.cursor {
  display: inline-block;
  color: var(--crimson);
  width: 1ch;
  animation: blink 0.7s steps(1) infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.about-text p {
  font-size: var(--font-size-medium);
  padding-block: 15px;
  line-height: 37px;
}
.btn {
  border: 1px solid var(--crimson);
  color: var(--white);
  background: linear-gradient(to right, var(--crimson) 50%, var(--white) 50%);
  transition: all var(--time) ease-in-out;
  cursor: pointer;
  background-size: 206% 100%;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
}
a.about-cv {
  width: 250px;
  padding: 15px 0 15px 74px;
  font-size: 25px;
}
.btn:hover {
  background-position: right bottom;
  color: var(--crimson);
}
/* Services-section start */
.services {
  background: url(image/bg\ image.png);
  background-size: auto;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-block: 100px;
}
.services-head::after,
.services-head.title::after {
  content: "what i provide";
  background-color: var(--white);
}
.services-head::before,
.services-head.title::before {
  background-color: var(--white);
}
h2.services-head {
  color: var(--white);
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: var(--padding-medium);
  font-family: Ubuntu, sans-serif;
}
.services-contain {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 60px 0 0;
  gap: 30px;
}
.services-contain .services-box .services-content {
  position: relative;
  left: 0px;
  box-shadow: inset var(--black) 0px 5px 15px;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: var(--white);
  padding: 70px 60px 40px 60px;
  border-radius: 8px;
  transition: all var(--time) ease 0s;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.services-contain .services-box .services-content p {
  color: var(--white);
}
.services-contain .services-box span {
  position: absolute;
  width: 30%;
  top: -25%;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  height: auto;
}
.services-contain .services-box::before,
.services-contain .services-box::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  transform: skewX(15deg);
  border-radius: 8px;
  transition: all var(--time) ease 0s;
  left: 0;
  opacity: 0.6;
}
.services-contain .services-box:hover::before,
.services-contain .services-box:hover::after {
  transform: skewX(-0deg);
  width: calc(21.1% - 90px);
  left: 0;
  opacity: 1;
}
.services-contain .services-box:nth-child(1)::before,
.services-contain .services-box:nth-child(1)::after {
  background: var(--sky);
}
.services-contain .services-box:nth-child(2)::before,
.services-contain .services-box:nth-child(2)::after {
  background: var(--perpal);
}
.services-contain .services-box:nth-child(3)::before,
.services-contain .services-box:nth-child(3)::after {
  background: var(--crimson);
}
.services-box {
  position: relative;
  height: inherit;
}
.services-contain span#services-first img:hover {
  visibility: visible;
}
.services-content h2 {
  padding-bottom: 29px;
}
/* skill section start  */
.skill-section {
  padding-block: 100px;
}
.skill-all-section {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  max-width: 50%;
  width: 100%;
}
h2.skill-head {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  position: relative;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: var(--padding-medium);
  font-family: Ubuntu, sans-serif;
}
h2.title:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  transform: translateX(-50%);
  background: rgb(17, 17, 17);
}
h2.title:after {
  content: "what i know";
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: var(--padding-medium);
  color: var(--crimson);
  transform: translateX(-50%);
  padding: 0px 5px;
  background: rgb(255, 255, 255);
}
.parent-skill {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
}
.skill {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  box-shadow: var(--padding-small) var(--padding-small) 19px #1c1e22,
    -var(--padding-small) -var(--padding-small) 19px #262a2e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress {
  width: 90%;
  height: 90%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-number {
  font-family: "Poppins", sans-serif;
  color: var(--crimson);
  font-size: 2rem;
}
.text-and-graph-skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill-text {
  max-width: 45%;
}
.skill-text p {
  font-size: var(--padding-medium);
  line-height: 40px;
  padding-block: var(--padding-medium);
}
a.Skill-btn {
  font-size: var(--padding-medium);
  padding: var(--padding-medium) 50px var(--padding-medium);
}
/* General styling for images and content */
.mental-scrolling-section {
  background-color: var(--sky);
  padding-block: 15px;
}
.mental-scrolling-section span,
.mental-scrolling-section span a {
  color: var(--white);
  font-size: var(--font-size-sub);
  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.022em;
  text-align: center;
}
.node-marquee__el span img {
  max-width: 42px;
}
.mental-scrolling-section .node-marquee__el {
  font-size: 0;
  line-height: 0;
}
.mental-scrolling-section .node-marquee__el span {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  gap: 15px;
}
.mental-scrolling-section .node-marquee span {
  margin-right: 200px;
}
/* Styling for desktop version */
.images-scrolling-desktop {
  display: flex;
  gap: 2rem;
}

.images-scrolling-desktop__content-list {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.images-scrolling-desktop__content {
  margin-bottom: 2rem;
}

.images-scrolling-desktop__media-wrapper {
  flex-basis: 50%;
}

.images-scrolling-desktop__media-wrapper img {
  border-radius: 8px;
  object-fit: cover;
}

/* my project section start  */

/* Contact section satrt  */
section#contact {
  padding-block: 100px;
}
.contact-head::after,
.contact-head.title::after {
  content: "get in touch";
}
h2.contact-head.title {
  position: relative;
  display: flex;
  justify-content: center;
  padding: var(--padding-medium);
  font-size: 40px;
  margin-bottom: 60px;
}
.contact-content {
  display: flex;
  width: 100%;
  gap: 60px;
  align-items: center;
}
.column.left {
  width: calc(50% - var(--padding-large));
}
.column.right {
  width: calc(50% - var(--padding-large));
}
.contact-text h3 {
  font-weight: 600;
  margin-bottom: var(--padding-small);
}
.column.left p {
  font-size: var(--padding-medium);
}
.contact-icons {
  padding-top: var(--padding-large);
}
.contact-info {
  display: flex;
  flex-direction: column;
}
.contact-row {
  display: flex;
  align-items: center;
  gap: var(--padding-medium);
}
.contacts-head {
  font-size: 28px;
  line-height: 65px;
}
.contact-sub-title {
  font-size: var(--padding-medium);
  text-decoration: none;
  color: var(--black);
  transition: var(--time);
}
a.contact-sub-title:hover {
  color: var(--logo-color);
  transition: var(--time);
}
.contact-text {
  font-size: var(--font-size-medium);
}
.contact-fields {
  display: flex;
  gap: 32px;
  padding-block: 15px 0;
  width: 100%;
}
.contact-field.name {
  width: calc(50% - 16px);
}
.contact-field.email {
  width: calc(50% - 16px);
}
.contact-field > input {
  height: 100%;
  width: 100%;
  font-size: 17px;
  font-family: Poppins, sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  border-image: initial;
  border-radius: 6px;
  outline: none;
  padding: 12px 15px;
  transition: all var(--time) ease 0s;
}
.contact-field {
  margin-bottom: 15px;
}
.field.textarea > textarea {
  height: 100%;
  width: 100%;
  font-size: 17px;
  font-family: Poppins, sans-serif;
  border-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  border-image: initial;
  border-radius: 6px;
  outline: none;
  padding: 12px 15px;
  transition: all var(--time) ease 0s;
}
.contact-row > svg {
  fill: var(--logo-color);
  height: var(--padding-large);
  width: var(--padding-large);
}
.contact-button.btn > button > .btn {
  padding: var(--padding-medium) 50px;
  font-size: var(--padding-medium);
}
button.contact-button {
  padding: 15px 50px;
  font-size: var(--font-size-small);
  margin-top: 15px;
}
/* Footer Section start  */
h2.footer-head {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: var(--white);
}
footer.footer-section {
  background: url(image/bg\ image.png);
  padding-block: 100px 0;
  background-size: auto;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.fa-brands,
.fab {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}
.footer-icon {
  list-style: none;
  padding: 36px 0 80px;
  display: flex;
  justify-content: center;
  gap: 35px;
}
p.footer-text {
  justify-content: center;
  display: flex;
  color: var(--white);
}
p.footer-text > a {
  text-decoration: none;
  color: var(--white);
  padding: 0 6px 0 6px;
}
.footer-icon a {
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon .main-icon.fb {
  transition: var(--time);
}
.footer-icon .main-icon.fb:hover {
  fill: var(--white);
  border: 1px solid transparent;
  background-color: #3b5998;
  transition: var(--time);
}
.footer-icon .main-icon.insta {
  transition: var(--time);
}
.footer-icon .main-icon.insta:hover {
  border: 1px solid transparent;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    var(--crimson) 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  transition: var(--time);
  fill: var(--white);
}
.footer-icon .main-icon.linkd {
  transition: var(--time);
}
.footer-icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon .main-icon.linkd:hover {
  background-color: #0072b1;
  border: 1px solid transparent;
  fill: var(--white);
  transition: var(--time);
}
.footer-icon .main-icon.gitup {
  transition: var(--time);
}
.footer-icon .main-icon.gitup:hover {
  fill: var(--white);
  border: 1px solid transparent;
  background-color: var(--black);
  transition: var(--time);
}
.footer-icon .main-icon.twit {
  transition: var(--time);
}
.footer-icon .main-icon.twit:hover {
  fill: var(--white);
  background-color: #26a7de;
  transition: var(--time);
  border: 1px solid transparent;
}
.footer-icon .main-icon.wp {
  transition: var(--time);
}
.footer-icon .main-icon.wp:hover {
  fill: var(--white);
  background-color: #25d366;
  border: 1px solid transparent;
  transition: var(--time);
}
.footer-icon .main-icon.mail {
  transition: var(--time);
}
.footer-icon .main-icon.mail:hover {
  fill: var(--crimson);
  background-color: var(--white);
  border: 1px solid transparent;
  transition: var(--time);
}
p.footer-text a {
  font-size: 12px;
  padding-bottom: 20px;
}
